<header>SEND YOUR FLOWERS</header>

<div id='arrangement_canvas'>
  <% if params[:gimps].include? "1" %>
    <div class="arrangeable_gimper" id="lil_gimper_drag"><%= image_tag "flower2.png" %></div>
    <script>dragElement(document.getElementById("lil_gimper_drag"));</script>
  <% end %>
  <% if params[:gimps].include? "2" %>
    <div class="arrangeable_gimper" id="lil_gimper_drag_2"><%= image_tag "flower1.png" %></div>
    <script>dragElement(document.getElementById("lil_gimper_drag_2"));</script>
  <% end %>
  <% if params[:gimps].include? "3" %>
    <div class="arrangeable_gimper" id="lil_gimper_drag_3"><%= image_tag "flower4.png" %></div>
    <script>dragElement(document.getElementById("lil_gimper_drag_3"));</script>
  <% end %>
  <%= params[:gimps] %>
</div>

<button onclick="generate_img();">make image</button>

<form onsubmit="return submitFlowerForm()" method="post" action="/send" id="form" class="topBefore">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input id="name" name="name" type="text" placeholder="TO">
  <input id="email" name="email" type="text" placeholder="E-MAIL">
  <textarea id="message" name="message" type="text" placeholder="MESSAGE"></textarea>
<input id="submit" type="submit" value="SEND">

</form>
<a href='/' class="arrow left"></a>
<a href='/' class="arrow right"></a>
