<div class="jumbotron text-center">

  <h2 style="color:#FFF0A5;font-size:250%;">arrange your flowers</h2>


</div>

<div id='arrangement_canvas'>
  <% params[:gimps].each do |gimpy_num| %>
    <div class="arrangeable_gimper" id="lil_gimper_drag_<%=gimpy_num%>"><%= image_tag "flower#{gimpy_num}.png" %></div>
    <script>dragElement(document.getElementById("lil_gimper_drag_<%=gimpy_num%>"));</script>

  <% end %>
</div>
<br>
<br>
<!--<button onclick="generate_img();">make image</button>-->
<h2 style= "color: #FFF0A5;font-size:250%;"> send your flowers <%=image_tag"heart.png"%> </h2>

<form onsubmit="return submitFlowerForm()" method="post" action="/send" id="form" class="topBefore">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input id="name" name="name" type="text" placeholder="RECIPIENT NAME">
  <input id="email" name="email" type="text" placeholder="RECIPIENT E-MAIL">
  <textarea id="message" name="message" type="text" placeholder="WRITE A MESSAGE"></textarea>
<input id="submit" type="submit" value="SEND YOUR FLOWERS">

</form>
<a href='/' class="arrow left"></a>
<a href='/' class="arrow right"></a>
