<p id="notice"><%= notice %></p>
<div class="jumbotron text-center">

  <h1 style="color:grey;font-size:250%;">pick flowers</h1>



</div>

<div id="lil_gimper_1" class="lil_gimper gimp1" onclick="gimp_on_up(1)"><%= image_tag "flower1.png" %></div>
<div id="lil_gimper_2" class="lil_gimper gimp2" onclick="gimp_on_up(2)"><%= image_tag "flower2.png" %></div>
<div id="lil_gimper_3" class="lil_gimper gimp3" onclick="gimp_on_up(3)"><%= image_tag "flower3.png" %></div>
<div id="lil_gimper_4" class="lil_gimper gimp4" onclick="gimp_on_up(4)"><%= image_tag "flower4.png" %></div>
<div id="lil_gimper_5" class="lil_gimper gimp5" onclick="gimp_on_up(5)"><%= image_tag "flower5.png" %></div>
<div id="lil_gimper_6" class="lil_gimper gimp6" onclick="gimp_on_up(6)"><%= image_tag "flower6.png" %></div>
<div id="lil_gimper_7" class="lil_gimper gimp7" onclick="gimp_on_up(7)"><%= image_tag "flower7.png" %></div>
<div id="lil_gimper_8" class="lil_gimper gimp8" onclick="gimp_on_up(8)"><%= image_tag "flower8.png" %></div>
<div id="lil_gimper_9" class="lil_gimper gimp9" onclick="gimp_on_up(9)"><%= image_tag "flower9.png" %></div>
<!--<button onclick="alert('gimps selected = ' + gimps_selected)">Show selected gimps</button>-->
<a id='/arrange_link' onclick='link_to_arrange(gimps_selected)' href='#' class="arrow left"></a>
<a id='arrange_link' onclick='link_to_arrange(gimps_selected)' href='#' class="arrow right"></a>


</div>
<!--
<div class='flower flower-0'><span></span></div>
<div class='flower flower-1'><span></span></div>
<div class='flower flower-2'><span></span></div>
<div class='flower flower-3'><span></span></div>
<div class='flower flower-4'><span></span></div>
<div class='flower flower-5'><span></span></div>
<div class='flower flower-6'><span></span></div>
-->
